---
---

@import "variables";
@import "mixins";

#fullscreen {
    z-index: -999;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
#avatar {
    height: 180px;
    border-radius: 100%;
    border: 5px solid white;
    margin-bottom: 40px;
}
/*
h1 {
    color: white;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 4em;
    font-family: 'Open Sans';
    margin: -10px 0;
}
*/
h3 {
    color: white;
    padding-bottom: 20px;
    font-weight: thin;
}
.content {
    padding-top: 100px;
    padding-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}
ul {
    list-style: none;
    padding: 0;
}

.header-list li {
    border-radius: 100%;
    border: 2px solid white;
    color: white;
    margin: 8px;
    display: inline-block;
    list-style: none;
    width: 65px;
    height: 65px;
    box-shadow: 0 0 0 1px black;
}
.header-list li:hover {
    color: white;
    text-decoration: none;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
}
.header-list li a {
    color: white;
    padding: 15px;
    text-decoration: none;
}

.header-list li a:hover {
    color: white;
    padding: 15px;
    text-decoration: none;
}

.description {
    display: none;
}

.self-intro{
    margin: 1em;
    font-size: 16px;
}

.title {
    width: 100%;
    margin-bottom: 1em;
    p {
        display: inline-block;
        width: 85%;
        @media(min-width: 992px) {
            width: 70%;
        }
        
    }
}

.project-entry {
    width: 80%;
    max-height: 12em;
    background: #EEE;
    border-radius: 1em;
    display: inline-block;
    margin: 3px 0 3px 0;
    @media(min-width:992px) {
        width: 65%;
    }
}

.project-intro {
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease;
    margin: 0 1em 5px 1em;
    color: #000;
    text-shadow: none;
    p {
        text-align: left;
        font-size: 15px;

        a {
            color: #33A;
            font-weight: bold;
        }
    }
}
.project-intro.full {
    max-height: 10em;
}

.project-title {
    margin: 5px;
    font-size: 20px;
    color: #333;
    text-shadow: none;
    font-weight: bold;
}

/*
@media (max-width: 450px) {
ul {
    text-align: center;
    display: inline-block;
}
li {
    border-radius: 0%;
    border: none;
    color: white;
    margin: 8px;
    display: block;
    list-style: none;
    margin: 10px 0px;
    text-align: center;
    height: auto;
    width: auto;
}
li:hover {
    background-color: none;
    transition: none;
}
a {
    text-align: justify;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 15px;
    padding-left: 30px;
    width: 70%;
}
a:hover {
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-decoration: none;
}
.description {
    display: inline-block;
    color: white;
    font-family: Arial;
    margin-left: 40px;
}
.content {
    padding-top: 60px;
}
}
*/